@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,*::before,*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    object-fit: contain;
    vertical-align: top;
}
html, 
body {
    height: 100%;
    font-family: 'Exo 2', sans-serif;
    line-height: 1.5;
    background-color: #202020;
    color: #bbb;
}
body {
    margin: 15px 0 0 0;
}
/* END RESET */
.wrapper {
    background-color: #333;
    border-radius: 8px;
    margin-top: 15px;
    margin: auto;
    width: 980px;
    padding: 15px;
    border: 1px rebeccapurple dashed;
}
.header {
    padding-bottom: 20px;
}


.main {
    padding-bottom: 20px;
}
.main > .content_header {
    padding-left: 0;
}
.main > .content_main {
    padding-left: 18px;
}
.main > .content_main > div > span {
    color: rgb(98, 0, 255);
}

.new_red {
    color: red;
}
.main > .content_main > ul {
    padding-left: 25px;
}
.Rec_23,
.Rec_24 {
    margin: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
}